@import "../../vars.css";

.container {
  background: var(--color-primary);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 10%;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -10px 30px rgba(225, 190, 231, 0.5);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-accent);
  margin-bottom: 12px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-primary);
  margin-top: 4px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 22px;
  padding: 0;
  margin-top: 4px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link img {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1); /* Make icons white */
}

.link a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-family: var(--font-primary);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}

.link a:hover {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text,
  .links {
    align-items: center;
  }

  .link {
    justify-content: center;
  }
}
